[submodule "users"]
	path = users
	url = https://github.com/cardiamc/user-microservice
[submodule "auth"]
	path = auth
	url = https://github.com/giobart/storytellers-auth-service
[submodule "api-gateway"]
	path = api-gateway
	url = https://github.com/ShinKage/gateway-microservice
[submodule "statistics"]
	path = statistics
	url = https://github.com/deRemo/stats-microservice
[submodule "stories"]
	path = stories
	url = https://github.com/alessandrodgr/stories-microservice
[submodule "reactions"]
	path = reactions
	url = https://github.com/laurab1/Storytellers-Reactions/
[submodule "frontend"]
	path = frontend
	url = https://github.com/giobart/storytellers-fe
